// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#heading {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#heading td, #heading th {
    border: 1px solid #ddd;
    padding: 8px;
}
#heading th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3b5998;
    color: white;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #3b5998;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}



#eroor{
  color: #D8000C;
    background-color: #FFD2D2;
}